@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

.container {
  width: 70%;
  font-family: 'Nunito', sans-serif;
  border: 1px solid #F1E7E5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  color: #494544;
}

@media screen and (min-width: 600px) {
  .container {
    width: 40%;
    height: 30%;
  }
}

.button {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #E49BC7;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

